.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #051046;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle at center, #bfeea9, #36f);
}

.about-hero {
    padding: 30px;
    text-align: center;
    margin-bottom: -1em;
}

.about-container h1 {
    font-size: 3em;
    margin: auto;
    text-align: center;
}

.about-hero-imgs {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.about-hero img {
    border-radius: 50%;
    max-width: 225px;
}

.about-hero p {
    font-size: 1.5em;
}

.about-story,
.about-branches,
.about-contact {
    margin-top: 20px;
    padding: 25px;
    background: radial-gradient(circle at center, #6cea31, #6986dd);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.branch-item {
    display: flex;
    align-items: center;
}

.branch-item button {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branch-item p {
    margin: 0;
}

.about-story h2,
.about-branches h2,
.about-contact h2 {
    font-size: 2.2em;
    margin-bottom: 25px;
}

.about-contact a {
    color: #0077cc;
    transition: color 0.3s ease;
}

.about-contact a:hover {
    color: #0055aa;
}

.about-contact {
    display: flex;
    flex-direction: column;
}

.about-contact p {
    line-height: 1.6;
    font-size: 1.2em;
}

.about-social-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-social-media p {
    margin: 0;
    font-weight: bold;
}

.about-social-media a {
    font-size: 1.1em;
}

.contact-method {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-method i {
    color: #0077cc;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.contact-method a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-method a:hover i,
.about-contact a:hover {
    color: #0055aa;
}