$bgClr0: #f1efef;
$bgClr1: #59bdf9;
$bgClr2: #aec4ff;
$bgClr3: #bfeea9;
$bgClr4: #36f;
$bgClr5: #11680f;
$bgClr6: #4af243;
$bgClr7: #6cea31;
$bgClr8: #93f08f;
$bgClr9: #022b01;
$bgClr10: #0040fd;
$bgClr11: #006df9;

$fontClr: #03032d;

$gray3: #1b1b1b;

$infoClr1: #00b600;
$infoClr2: #ff0000;
$infoClr3: #ffd900;
$infoClr4: #2711f0;
$infoClr5: #0077cc;
$infoClr6: #0055aa;